body{
    background-color:#33c9fe;
}
/* header */
header img{
    width:100%;
    height:3.5rem;
}
/* section */
.txt{
    width:100%;
    margin-top:.42rem;
    margin-bottom:.23rem;
    color:white;
    font-size:.12rem;
    text-align:center;
}
.ways{
    width:2.56rem;
    height:.5rem;
    margin:.23rem .57rem .2rem .57rem;;
    border:2px solid white;
    border-radius:.22rem;
    font-size:.15rem;
}
.ways a{
    display: flex;
}
.ways a img{
    width:.25rem;
    height:.25rem;
    margin:.12rem 5px .09rem .8rem; 
}
.ways a span{
    color:white;
    text-align:center;
    line-height:.5rem;
}